@import "tailwindcss";

.prose > :first-child > :first-child {
  margin-top: 0;
}

@media (max-width: 767px) {
  #sidebar.mobile-hidden {
    display: none;
  }

  #note-content {
    display: none;
  }

  #note-content.mobile-visible {
    display: flex;
  }
}
